body {
  margin-top: 60px;

  font-family: Inter, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-item
{
  color:#ffffff;
  background-color:#636363;
}

.fa-star {
  color: #ffd700;
}

.head {
  position: relative;
  display: inline-block;
}
.image-text {
  position: absolute;
  top: 4.2vw;
  left: 3.5vw;
  margin: 0px;
  color: #fff;
  font-size: 3.5vw;
  font-weight: bold;
}

.categorias-card {
  margin-bottom: 15px;
}

.categories-container {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}

.categories-container img {
  max-width: 100%;
  height: auto;
}

.comments-container {
  height: 100%;
  overflow-y: scroll;
}

.section {
  width: 100%;
}

.row {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
}

.nav {
  background-color: #ffffff;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px;
  height: 60px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.nav li {
  display: inline-block;
  margin: 0px;
  margin-bottom: -80px;
  padding: 0px;
}

.nav li a {
  text-decoration: none;
  color: rgb(224, 224, 224);
  padding: 0px 30px;
  display: inline-block;
  font-size: 20px;
}

.nav li a:hover {
  background-color: #434343;
}

.button-container {
  display: flex;
  position: absolute;
  top: 0px;
  right: 122px;
  margin: 17px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #fa7c1f;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}

.button:hover {
  background-color: #f27405;
  color: white;
}

.button-head {
  display: inline-block;
  padding: 10px 20px;
  background-color: #10a37f;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
  border-radius: 5px;
}

.button-head:hover {
  background-color: #0e8b6c;
}

.dropdown-menu {
  display: none;
  position: absolute;
  color: #0e8b6c;
  background-color: #757575;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-menu li {
  color: #434343;
  padding: 8px;
}

.dropdown-menu li:hover {
  color: #434343;
  background-color: #921f1f;
}

#logo-container {
  position: absolute;
  padding-top: 12px;
  top: 0;
  left: 10;
  margin-left: 122px;
  width: 100px;
  height: 100px;
}

.button-tbcn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #414141;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
  border-radius: 5px;
}

.button-unete {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(255, 162, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
  border-radius: 5px;
}

.button-tbcn:hover {
  background-color: rgb(90, 90, 90);
  color: white;
}

.button-unete:hover {
  background-color: rgb(255, 170, 0);
  color: white;
}

.nav-footer {
  padding: 10px 0;
}

.ul-footer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.li-footer {
  margin: 0 10px;
}

.a-footer {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.workwithus {
  display: flex;
  position: absolute;
  top: 0px;
  right: 300px;
  margin: 20px;
}

.presentation {
  margin-top: 0px;
}

.moreinfo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.moreinfo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.parrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.categorias1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-bottom: 40px;
}

.categorias2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-bottom: 85px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.custom-alert {
  width: 600px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container img {
  max-width: 100%;
  height: auto;
  margin-right: 25px;
}
@media screen and (max-width: 932px) {
  .card-container img {
    max-width: 100%;
    height: auto;
    margin-right: 0px;
  }
}

/*new footer code*/
.footer-container {
  background-color: #010b40;
  height: auto;
  padding: 20px 0;
  margin-left: 122px;
  font-size: 14px;
  color: #ffffff;
}

.footer {
  background-color: #010b40;
  color: white;
  margin: 0px;
  margin-top: 0px;
  font-family: Lexend Peta, sans-serif;
  height: auto;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow: hidden;
}

.footer-content {
  max-width: 1200px;
  margin-left: 160px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.footer-info {
  width: 250px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.footer-description {
  margin-top: 0px;
  font-size: 13px;
  line-height: 1.5;
}

.footer-access,
.footer-contact {
  width: 250px;
  margin-bottom: 30px;
}

.footer-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list a {
  color: #ffffff;
  text-decoration: none;
}

.footer-list a:hover {
  text-decoration: underline;
}

.botoncategorias {
  margin-left: 0;
}

.parrafo {
  margin-left: 0;
}

@media screen and (max-width: 997px) {
  .nav-toggle {
    display: block;
  }
  #logo-container {
    display: none;
  }
}

@media (max-width: 902px) {
  .button-container {
    right: auto;
  }
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ .nav {
  display: block;
}

@media screen and (min-width: 998px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    display: flex !important;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mobile-nav {
  display: none;
}
.profile-container-2 {
  display: none;
}
.perfiles-similares-2 {
  display: none;
}
@media screen and (max-width: 769px) {
  footer {
    display: none;
  }
  header {
    display: none;
  }
  .mobile-nav {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
  }
  .navbar-brand {
    margin-left: 10px;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
  .nav-link {
    color: rgb(255, 162, 0);
    font-weight: bold;
  }
  .categorias-div {
    display: flex;
    flex-direction: column;
    left: 0;
    flex-wrap: wrap;
    margin-right: 10px;
  }
  .categorias-div .col-2 {
    flex: 0 0 auto;
    margin-bottom: 15px;
  }
  .botoncategorias {
    margin-left: 255px;
  }

  .content {
    margin-left: 20px;
    width: auto;
  }

  .perfiles-similares {
    display: none;
  }
  .profile-container {
    display: none;
  }
  .profile-container-2 {
    display: flex;
  }
  .card-title {
    width: 100%;
  }
}
@media screen and (max-width: 459px) {
  footer {
    display: none;
  }
  header {
    display: none;
  }
  .parrafo {
    margin-left: 50px;
  }
  .botoncategorias {
    margin-left: 90px;
  }
  .mobile-nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
  }
  .navbar-brand {
    margin-left: 10px;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
  .nav-link {
    color: rgb(255, 162, 0);
  }
  .categorias-div {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    width: 100%;
  }
  .col-md-6 {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .botoncategorias {
    margin-left: 60px;
  }
  .parrafo {
    margin-left: 55px;
  }
  #professionals {
    margin-left: 0;
    .row {
      padding-left: 0;
    }
  }
}
@media screen and (width: 1440px) {
  .botoncategorias {
    margin-left: 0px;
  }
}
