body {
  margin: 60px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: fixed;
  width: 100%;
  justify-content: center;
  z-index: 100;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 20px;
}

.navbar img {
  width: 300px;
}

.nav-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #f8f8f8;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-links li {
  margin: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: #fa7c1f;
  font-size: 18px;
  font-weight: bold;
}

.nav-icon {
  cursor: pointer;
  color: #fa7c1f;
  font-size: 30px;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
  }

  .nav {
    width: 100%;
    margin: 0;
  }

  .nav-links {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .nav-links li {
    margin-right: 40px;
  }

  .nav-icon {
    display: none;
  }
}

.button {
  color: #fa7c1f;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-top: 50px;
}

h3 {
  text-align: center;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card-container img {
  max-width: 100%;
  height: auto;
}

.button {
  margin-top: 10px;
}

.categories-container {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}

.categories-container img {
  max-width: 100%;
  height: auto;
}

.footer-container {
  background-color: #001174;
  padding: 35px 0;
  font-size: 13px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: -30px;
}

.footer-info,
.footer-access,
.footer-contact {
  flex: 1 1 100%;
  max-width: 250px;
  margin-right: 50px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .footer-info,
  .footer-access,
  .footer-contact {
    flex-basis: calc(33.33% - 60px);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.footer-heading {
  margin-bottom: 20px;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list li a {
  color: #fff;
  text-decoration: none;
}

.footer-access li,
.footer-contact p {
  line-height: 1.5;
}
